nltk
pickle
numpy
tflearn
tensorflow
random
json
pyttsx3
torch
cv2
tqdm
glob
os
cv2
matplotlib
use 
keras
sklearn
flask
dash
pandas
sqlite
shutil
tqdm
fastai 














