<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles2.css')}}" >
  <script type="text/javascript" media="all" href="{{ url_for('static', filename='scripts/script.js')}}"></script>
</head>
<center>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="wrapper">
  <h1>Register For An Account</h1>
  <p>To sign-up for a free basic account please provide us with some basic information using
  the contact form below. Please use valid credentials.</p>
  <form class="form" method="post" action="register">
    <input type="text" name="name" required="true" class="name" placeholder="Name">
    <div>
      <p class="name-help">Please enter your first and last name.</p>
    </div>
    <input type="email" name="email" required="true" class="email" placeholder="Email">
     <div>
      <p class="email-help">Please enter your current email address.</p>
    </div>
    <input type="password" name="password" required="true" class="password" placeholder="Password">
     <div>
      <p class="password-help">Please enter your password".</p>
    </div>
    <input type="text" name="Number" required="true" class="number" placeholder="Adhaar Card Number">
     <div>
      <p class="number-help">Please enter your Adhaar Card Number.</p>
    </div>
    <input type="submit" class="submit" value="Register">
  </form>
</div>
<p class="optimize">
  Optimized for Chrome & Firefox!
</p>
</center>